<div class="growth">
  <div class="buttonArea">
    <p>Eunttu’s growth</p>
  </div>
  <div class="growths">
    <!-- <router-outlet></router-outlet> -->
    
    <div class="photo-growth">
      <img src="3months.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="2months.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="1months.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="0months.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="birth.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <!-- <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div> -->
  </div>
</div>
