<div class="growth">
  <div class="titleArea">
    <span class="none-class-title">
      Eunttu's
    </span>
    <span>&nbsp;</span>
    <span class="title9">
      G
    </span>
    <span class="title10">
      r
    </span>
    <span class="title11">
      o
    </span>
    <span class="title12">
      w
    </span>
    <span class="title13">
      t
    </span>
    <span class="title14">
      h
    </span>
  </div>
  <div class="growths">
    <!-- <router-outlet></router-outlet> -->
    <div *ngFor="let month of months" class="photo-growth" #photoSection>
      <img [src]="month.src" [alt]="month.alt" class="photo-item">
    </div>
    <!-- <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div>
    <div class="photo-growth">
      <img src="eunttu.jpg" alt="Photo 1" class="photo-item" >
    </div> -->
  </div>
</div>
